# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.
*.jpg
*.gif
*.bmp
*.log
rubbish.*

# Training result
runs/
logs/

# Datasets -------------------------------------------------------------------------------------------------------------
data/

# Neural Network weights -----------------------------------------------------------------------------------------------
checkpoints/
*.pth
*.pt
*.pkl
*.model

# GitHub Python GitIgnore ----------------------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.p

venv/
.idea/*
SUBMISSION*
.vscode/