# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.
*.jpg
*.gif
*.bmp
*.log
rubbish.*

# Training result
runs/
logs/
*.out
run.sh

# Datasets -------------------------------------------------------------------------------------------------------------
data/
visual/

# Neural Network weights -----------------------------------------------------------------------------------------------
checkpoints/
*.pth
*.pt
*.pkl
*.model

# GitHub Python GitIgnore ----------------------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
evaluate/__pycache__/*
*.pyc
*.p
.ipynb_checkpoints/

venv/
.idea/*
SUBMISSION*
.vscode/